.container {
    max-width: 1440px;
    margin: 0 auto;
}

body {
    max-width: 1440px;
    margin: 0 auto;
}

.logo-picture {
    background-image: url('img-2.3/uneak-logo.png');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100%;
    height: 150px;
    width: 240px;
    float: left;
    margin: 0px 0px 0px 100px;
}

.search-bar {}

.bag-image {
    background-image: url('img-2.3/bag-symbol.png');
    background-repeat: no-repeat;
    background-position: 0%;
    background-size: 50%;
    height: 25px;
    width: 35px;
    float: left;
    justify-content: left;
}

.nav-bar-top-item {
    list-style: none;
    display: inline-block;
    margin: 30px;
    float: right;
}

.nav-bar-top-ul {
    list-style-type: none;
    margin-top: 20px;
    padding-top: 30px;
    overflow: hidden;
    font-family: "Tomorrow", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.04em;
    color: #000000;
}

.header {
    background-image: url('img-2.3/header-back-rectangle.png');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100%;
    width: 1440px;
    height: 610px;
    max-width: 1440px;
    min-width: 1440px;
    margin: 0 auto;
}

.header-description {
    font-family: "Tomorrow", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 140%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
    position: inherit;
    padding: 100px;
}

.sneakers-header {}

/* .rectangle-header {
    background-image: url('img-2.3/header-back-rectangle.png');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100%;
    width: 1440px;
    height: 610px;
    margin: 0 auto;
    position: relative;

} */

.scroll-text {
    width: 90px;
    height: 17px;
    font-family: "Tomorrow", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.04em;
    color: #484c32;
    transform: rotate(-90deg);
    z-index: 1;
    position: absolute;
    left: 7%;
    top: 100%;

}

.sneakers-header {
    background-image: url('img-2.3/header-back-sneakers.png');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100%;
    width: 500px;
    height: 370px;
    z-index: 1;
    justify-content: right;
    float: right;
    margin: 100px;
    position: absolute;
    transform: translate(110%, -110%);
}

/* .header-line {
    position: absolute;
    width: 1029px;
    height: 0px;
    border: 3px solid #484C32;
    /* transform: translate(20%, -1000%); */
/* display: flex;
    justify-content: flex-end;
    text-align: right;
    float: right;
} */

hr {
    display: flexbox;
    transform: translateY(-1000%);
    justify-content: center;
    z-index: 1;
    width: 80%;
    color: #000000;
    border: 3px solid #484C32;

}

.moto-content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 1.5em;
}

.moto-image {
    background-image: url('/img-2.3/cacti-sneakers-moto.png');
    width: 388px;
    height: 288px;
    margin-left: 100px;
    margin-top: 100px;
}

.moto-text {
    font-family: "Sintony", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 140%;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 70px;
    width: calc(100% - 150px);
    padding: 10px;
}

/* @media only screen and (max-width: 480px) {
    .content {
        flex-direction: column;
    }

    .details {
        width: 100%;
    }
} */

.juarez {
    background: linear-gradient(90deg, #8aa195 -7.01%, #332e0b 139.37%);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100%;
    width: 1440px;
    height: 650px;
    max-width: 1440px;
    min-width: 1440px;
    margin: 0 auto;
}

.juarez-text {
    font-family: "Tomorrow", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 140%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #ffffff;
    z-index: 1;
    margin: 100px;
    padding-top: 100px;
}